body {
  font-family: 'Allerta', sans-serif;
}
h1 {
  text-align: center;
  margin-top: 10px;
}
.button {
  border: 1.5px solid black;
  border-radius: 20px;
  padding: 5px 10px;
  text-align: center;
  background-color: #7908aa;
  box-shadow: 1.5px 1.5px 0px 0px;
}
.button:active {
  box-shadow: 0px;
  background-color: #f7fe40;
}
#push:active {
  background-color: #b365d4;
}
.number {
  background-color: black;
  color: gray;
}
.clear {
  background-color: #b365d4;
}
#push,
#queue {
  background-color: #f7fe40;
}
.operator {
  font-weight: bold;
}
table {
  background-color: #4e026e;
}
table,
#queue {
  border-spacing: 5px;
  border: 1.5px solid black;
  box-shadow: 4px 4px 0px 0px;
  padding: 5px;
  border-radius: 10px;
  margin: auto;
}
#display {
  border: 1.5px solid black;
  border-radius: 10px;
  padding: 5px 10px;
  text-align: right;
  background-color: gray;
  font-size: 25px;
}
